body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color:#D0FFDA;
}

.container 
{
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
    height: 600px;
}

button{
    padding-top: 10px;
    margin-top: 10px;

}

.form-control {
    width: 50%;
    margin-left: 25%;
}

/* ---CSS da lista de informações retornadas---*/

ul{
    padding: 50px;
    margin-bottom: 15px;
    
    
}
li{
    padding-bottom: 5px;
    font-size: 1.3em;
    color:black ;
    

    
}
h3{
    font-size: 1em;
    display: inline;
    color: #ADFFC0;
}
